/build
/Debug
/Release
/tmp
**/out/*
*.7z
*.a
*.aps
*.bak
*.db3
*.del
*.dll
*.exe
*.lnk
*.log
*.mpj.lru
*.obj
*.org
*.out
*.ren
*.sav
*.sqlite
*.tar.gz
*.tgz
*-out.txt
*.vcxproj.user
*.zip
.vs
CMakeUserPresets.json

# obsolete
/x64
